recursive-exclude * *

include LICENSE
include README.rst
include Makefile
include setup.py
include setup.cfg
include requirements.txt

recursive-include smock *
recursive-include tests *
recursive-include docs *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.egg-info
